In [1]:
print("Mohit Janbandhu")

Mohit Janbandhu

In [2]:
list1=[4,8,6,4,6,21,5,8,12,5]

In [3]:
for num in list1:
    if num %2==0:
        print(f"{num} Is Even")
        
    else:
        print(f"{num} Is Odd")

4 Is Even
8 Is Even
6 Is Even
4 Is Even
6 Is Even
21 Is Odd
5 Is Odd
8 Is Even
12 Is Even
5 Is Odd

#   Lambda

In [12]:
lambda_fun= map(lambda x: "Even" if x %2==0 else "Odd", list1)

In [13]:
list(lambda_fun)

['Even', 'Even', 'Even', 'Even', 'Even', 'Odd', 'Odd', 'Even', 'Even', 'Odd']

# Vowels

In [19]:
m="Mohit Janbandhu 1234"
vowels="aeiouAEIOU"

In [21]:
for char in m:
    if char in vowels:
        print(char,end=" ")

o i a a u

# print Rev

In [23]:
m=12150

In [31]:
n=str(m)

In [36]:
o=n[::-1]

In [37]:
p=int(o)

In [38]:
p

5121

In [39]:
q=0+p

In [40]:
q

5121

In [43]:
r=f"{q:0{len(n)}d}"
print(r)

05121

Write a program to slice a string str="Hello Everyone" to get the following output:

    'Hello'
    'yone'
    vE oll'
    'Eeyn'

In [1]:
str1="Hello Everyone"

In [5]:
str1[:5]

'Hello'

In [6]:
str1[10:14]

'yone'

In [35]:
print(str1[7:1:-1])

vE oll

In [14]:
str1[6:13:2]

'Eeyn'

In [29]:
str1[-7:]

''

4) We have variable x=22+5j. Can you check the type of variable x?

In [37]:
x=22+5j

In [38]:
type(x)

complex

In [39]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

num = int(input("Enter a number: "))
if is_prime(num):
    print(num, "is a prime number.")
else:
    print(num, "is not a prime number.")

Enter a number: 9
9 is not a prime number.

In [40]:
d = {'1': 'One', '2': [1, {'Two': ['Ch', 'Cbe', 'Salem', {'Place': [5, 6, 7, 'Bangalore']}]}]}
bangalore = d['2'][1]['Two'][3]['Place'][3]
print(bangalore)

Bangalore

In [41]:
# Q11: Generate a list of all even numbers between 4 to 30
even_numbers = [i for i in range(4, 31) if i % 2 == 0]
print(even_numbers)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]