# hi

In [2]:
pro= lambda ev_odd: "Even" if ev_odd %2==0 else "Odd"

In [3]:
pro(5)

'Odd'

In [4]:
list1=[5,8,6,4,9,5,2,1,6,9,7,2,4,8]

In [5]:
pro= map(lambda ev_odd: "Even" if ev_odd %2==0 else "Odd",list1)

In [6]:
print(list(pro))

['Odd', 'Even', 'Even', 'Even', 'Odd', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Odd', 'Even', 'Even', 'Even']

In [67]:
def ev_od(number):
    if list1%2==0:
        print("Even Number")
        
    else:
        print("Odd number")

In [18]:
def ev_od(number):
    if number % 2 == 0:
        print("Even Number")
    else:
        print("Odd Number")

In [20]:
for num in list1:
    print(ev_od(num))

Odd Number
None
Even Number
None
Even Number
None
Even Number
None
Odd Number
None
Odd Number
None
Even Number
None
Odd Number
None
Even Number
None
Odd Number
None
Odd Number
None
Even Number
None
Even Number
None
Even Number
None

In [17]:
for number in list1:
    if number%2==0:
        print("Even")
    else:
        print("odd")

odd
Even
Even
Even
odd
odd
Even
odd
Even
odd
odd
Even
Even
Even

In [ ]:
list1 = [5, 8, 6, 4, 9, 5, 2, 1, 6, 9, 7, 2, 4, 8]

for number in list1:
    if number % 2 == 0:  # Use 'number' instead of 'list1'
        print("Even")
    else:
        print("Odd")

In [21]:
list1

[5, 8, 6, 4, 9, 5, 2, 1, 6, 9, 7, 2, 4, 8]

In [22]:
list1.append(50)

In [23]:
list1

[5, 8, 6, 4, 9, 5, 2, 1, 6, 9, 7, 2, 4, 8, 50]

In [24]:
list1.insert(3,70)

In [25]:
list1

[5, 8, 6, 70, 4, 9, 5, 2, 1, 6, 9, 7, 2, 4, 8, 50]

In [28]:
list1[::4]

[5, 4, 1, 2]

In [29]:
list1.pop(5)

9

In [30]:
list1

[5, 8, 6, 70, 4, 5, 2, 1, 6, 9, 7, 2, 4, 8, 50]

In [31]:
min(list1)

1

In [32]:
max(list1)

70

In [33]:
len(list1)

15

In [34]:
sum(list1)

187

In [36]:
type(list1)

list

In [1]:
str1="Mohit Janbandhu 12345"

In [38]:
type(str1)

str

# Vowels

In [40]:
vowels='aeiouAEIOU'

In [42]:
for char in str1:
    if char in vowels:
        print(char)

o
i
a
a
u

In [44]:
for char in str1:
    if char in vowels:
        print(char, end=' ')

o i a a u

In [61]:
inpt= int(input("Enter Value for checking whether It is Even or Odd"))

if inpt%2 ==0:
    print('{} it is Even Number '. format(inpt))
    
else:
    print(inpt,"Odd number")

Enter Value for checking whether It is Even or Odd6
6 it is Even Number

In [62]:
list1=[1,5,8,4,6,9,7,4,7]

In [68]:
def ev_od(number):
    for number in list1:
        if number % 2==0:
            print("even")
            
        else:
            print('odd')

In [69]:
 ev_od(list1)

odd
odd
even
even
even
odd
odd
even
odd

In [2]:
upper_latter=[]
lower_latter=[]
digits=[]

In [4]:
for char in str1:
    if char.isupper():
        upper_latter +=1
        
    elif char.islower():
        lower_latter +=1
        
    elif char.isdigit():
        digits +=1

TypeError: 'int' object is not iterable

In [74]:
print(upper_latter)

3

In [6]:
upper_lat=[]
lower_lat=[]
digits=[]

In [7]:
for char in str1:
    if char.isupper():
        upper_lat+=1
    
    elif char.islower():
        lower_lat+=1
    
    elif char.isdigit():
        digits+=1

TypeError: 'int' object is not iterable

In [8]:
str2="Mohit Janbandhu 1234"

In [9]:
upp_lat =[]
low_lat =[]
digits = []

In [10]:
for char in str2:
    if char.isupper():
        upp_lat +=1
        
    elif char.islower():
        low_lat +=1
        
    elif char.isdigit():
        digits +=1

TypeError: 'int' object is not iterable

In [11]:
str2 = "Mohit Janbandhu 1234"
upp_lat = 0  # Counter for uppercase letters
low_lat = 0  # Counter for lowercase letters
digits = 0   # Counter for digits

for char in str2:
    if char.isupper():
        upp_lat += 1
    elif char.islower():
        low_lat += 1
    elif char.isdigit():
        digits += 1

print(f"Uppercase Letters: {upp_lat}")
print(f"Lowercase Letters: {low_lat}")
print(f"Digits: {digits}")

Uppercase Letters: 2
Lowercase Letters: 12
Digits: 4

In [20]:
upp_lat=0
low_lat=0
dig=0

In [21]:
for char in str1:
    if char.isupper():
        upp_lat +=1
        
    elif char.islower():
        low_lat +=1
        
    elif char.isdigit():
        dig +=1

In [26]:
print("Uppercase Letters ",upp_lat)
print(f"Lowercase Latters {low_lat}")
#print("The digits are ".format(dig))
print(f"The digits are {dig}")

Uppercase Letters  2
Lowercase Latters 12
The digits are 5

In [23]:
str1

'Mohit Janbandhu 12345'

In [27]:
class Human():
    def male():
        print("Short Hair")
        
    def female():
        print("Long Hair")

In [29]:
Human.male()

Short Hair

We can Use self also in function

In [ ]:
str1.startswith(M)